extends layout

block content
    div.text-center
        form(class="form-signin" method="POST" action="/admin/login")
            #error
                if error
                    p.text-danger Error!!!
            h1(class=h1Classes) Please sign in
            label(for="inputPassword" class="sr-only") Password
            input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)
            - var divClasses=['checkbox', 'mb-3'];
            div(class=divClasses)
                label
                    input(type="checkbox" value="remember-me")
                    span Remember me
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Sign in
            p(class=pClasses) © 2020