$theme-colors: (
    "primary":    #A31F34,
    "secondary":  #8A8B8C,
    // "success":    $success,
    // "info":       $info,
    // "warning":    $warning,
    // "danger":     $danger,
    "light":      #C2C0BF,
    // "dark":       $dark,
);

.dropdown-menu {
    width: 400px !important;
}

.kimg {
    object-fit: cover;
}

@import "~bootstrap/scss/bootstrap";